:root{
    --navy:#313441;
    --lnavy:#42485c;
    --lgreen:#c1ce5e;
    --grey:#A4A6BF;
    --bblue:hsl(220, 47%, 62%);
    --green:#97A629;
    --lgreeno:#c1ce5e11;
    --lgrey:#bbc1dd;
    --mdgrey:#a4acd1;
    --blue:#3188fa;
    --wblue:#3188fabb;

}