.navbar-content__hidden{
    display: none;
    @media (max-width:768px) {
        display: inline-block;
    }
}

.navbar-brand{
    border: solid 2px var(--green);
    border-radius: 5px 20px;
    padding: 8px;

    &:hover{
        background-color: var(--green);
    }
}

nav{
    .offcanvas{
        background-color: var(--navy) !important;

    }
    .btn-check:focus+.btn, .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
    }
}

