// INTRODUCTION
.intro {
  padding-top: 80px;
}

// ABOUT

.section-header {
  padding-top: 60px;
  hr {
    position: relative;
    top: 30%;
    color: var(--blue);
    width: 70%;
  }
}

#v-pills-tab {
  border: none;
}

.icon-png {
  height: 15px;
  width: 15px;
}
